<div>
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="name" formControlName="userName" [(ngModel)]="user.name" />
          <div class="alert alert-danger"
              *ngIf="formName()">
              Name not specified
          </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" password="password" formControlName="userPassword" [(ngModel)]="user.password" />
        <div class="alert alert-danger"
            *ngIf="formPassword()">
            Password not specified
        </div>
      </div>
      <div class="form-group">
          <button class="btn btn-default" [disabled]="myForm.invalid" (click)="onClick()" >
              Send
          </button>
      </div>
  </form>
</div>

