<div >
  <select (change)="onCurrencyChanged($event.target)">
    <option *ngFor="let item of currencies" [selected]="currency== item"> {{item}} </option>
  </select>
  <select (change)="onScaleChanged($event.target)">
    <option *ngFor="let item of scales" [selected]="scale== item"> {{item}} </option>
  </select>
  <input type="date" [(ngModel)] ="dtStart" style="float: right;"/>
  <button (click)="renew()" style="float: right;">Send</button>
  <input type="date" [(ngModel)] ="dtFinal" style="float: right;"/>
</div>
<div style="display: block;">
  <canvas baseChart width="500" height="200"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
