<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/index" routerLinkActive="active" class="nav-link">Index</a>
      </li>
      <li class="nav-item">
        <a routerLink="/regist" routerLinkActive="active" class="nav-link">Registration</a>
      </li>      
      <li class="nav-item">
        <a routerLink="/auth" routerLinkActive="active" class="nav-link">Authentication</a>
      </li>
      <li class="nav-item">
        <a routerLink="/crap" routerLinkActive="active" class="nav-link">Crap</a>
      </li>
    </ul>
  </header>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div>
  <app-footer></app-footer>
</div>